<h1 class="text-center mb-4">Template and Label Creation</h1>
<div class="text-center mr-3 ml-3">
  <form
    [formGroup]="templateLabelCreationForm"
    (ngSubmit)="onTemplateLabelCreationFormSubmit()"
  >
    <div class="form-group col-6 mx-auto">
      <label for="templateName">Bill Template Name</label>
      <input
        type="text"
        id="templateName"
        formControlName="templateName"
        class="form-control"
        [ngClass]="{
          'is-invalid':
            templateLabelCreationFormSubmitted &&
            templateLabelCreationFormValues.templateName.errors
        }"
      />
      <div
        *ngIf="
          templateLabelCreationFormSubmitted &&
          templateLabelCreationFormValues.templateName.errors
        "
        class="invalid-feedback"
      >
        <div
          *ngIf="templateLabelCreationFormValues.templateName.errors.required"
        >
          Bill Template Name is required
        </div>
      </div>
    </div>

    <div *ngFor="let label of labelsFormGroups; let i = index">
      <div [formGroup]="label">
        <div class="form-group col-6 mx-auto">
          <label for="labelName">Label {{ i + 1 }}</label>
          <input
            type="text"
            id="labelName"
            formControlName="labelName"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                templateLabelCreationFormSubmitted &&
                label.controls.labelName.errors
            }"
          />
          <div
            *ngIf="
              templateLabelCreationFormSubmitted &&
              label.controls.labelName.errors
            "
            class="invalid-feedback"
          >
            <div *ngIf="label.controls.labelName.errors.required">
              Label {{ i + 1 }} Name is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <button
        type="button"
        class="btn btn-primary mr-2 ml-2"
        (click)="addLabel()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-plus"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          ></path>
        </svg>
        Add
      </button>

      <button
        [disabled]="labelCount <= 0"
        type="button"
        class="btn btn-secondary mr-2 ml-2"
        (click)="removeLabel()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-dash"
          viewBox="0 0 16 16"
        >
          <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
        </svg>
        Remove
      </button>
      <button class="btn btn-success mr-2 ml-2">Submit</button>
    </div>
  </form>
</div>
