/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


.nullMargin {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  .text-area{
    resize:vertical;
    min-height: 50px;
    max-height:200px;
  }
  .ngx-pagination {
    display: inline-block !important;
  }
  .customBtn {
    background-color: #e3001b;
    color: white;
    padding: 5px 25px;
    font-size: 14px;
    min-width: 100px;
    box-shadow: 1px 3px 6px 1px #e3e3e3;
    border: none;
    border-radius: 3px;
  }
  .customBtn:hover {
    background-color: #c50018;
    color: white;
    border: none;
    outline: none;
  }
  .noBorder {
    border: none;
    background: none;
  }
  .noBorder:focus {
    border: none;
    outline: none;
  }
  .customBtn:focus {
    outline: none;
    border: none;
  }
  .pointer {
    cursor: pointer;
  }

  .row{
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .rowContainer1 {
    flex: 0.5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #4d4f5c;
  }
  .rowContainer2 {
    flex: 8;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    font-size: 16px;
    color: #4d4f5c;
  }
  .rowContainer3 {
    flex: 1.5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .divDisabled {
    opacity: 0.5;
    z-index: -10;
    background-color: #cccccc;
  }
  .optionsBtn {
    color: #4d4f5c;
  }
  ::placeholder {
    color: lightgray !important;
    opacity: 1 !important;
  }
  :-ms-input-placeholder {
    color: lightgray !important;
  }
  ::-ms-input-placeholder {
    color: lightgray !important;
  }
  .cancelBtn {
    background-color: #e8e8e8;
    color: #4d4f5c;
    padding: 5px 25px;
    font-size: 14px;
    box-shadow: 1px 1px 1px 1px #dddddd;
    border: none;
    border-radius: 3px;
    min-width: 100px;
  }
  .cancelBtn:hover {
    background-color: #e0e0e0;
    outline: none;
    border: none;
  }
  .ngx-pagination a,
  .ngx-pagination button {
    color: #4d4f5c !important;
  }
  .select-file {
    background-color: #f6f6f6;
    border: 1px solid #e3e3e3;
    padding: 5px;
    color: #4d4f5c;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 1px 1px 1px 1px #dddddd;
    cursor: pointer;
  }
  .select-file:hover {
    background-color: #e3e3e3;
  }
  .imgload
  {
    height:50px;
    width:200px;
  }
  #loadingImage
  {
    position: absolute;
    left: 50%;
    top: 50%;
     transform: translate(-50%, -50%);
     padding: 10px;
  }